/* *RESET* */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !DEBUG! */
.box-wrapper {
    align-content: flex-start;
}
/* *MAIN* */
main {
    /* padding: 1rem 0; */
    background-color: aqua;
}

/* *box wrapper* */
.box-wrapper {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

/* *small boxes* */
.small-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.small-box:hover {
    border: 1px solid white;
    box-shadow: 0 0 6px white inset;
    cursor: pointer;
}
.box-wrapper.easy .small-box {
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.box-wrapper.normal .small-box {
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.box-wrapper.hard .small-box {
    width: calc(100% / 7);
    height: calc(100% / 7);
}
.small-box.free {
    background-color: #6495ed;
}
.small-box.bomb {
    background-color: #dc143c;
}